
<p>Edit a contact</p>



<%= form_for @contact do |f| %>

<p><%= f.label :name %></p>	
<p><%= f.text_field :name  %></p>

<p><%= f.label :number %></p>
<p><%= f.text_field :number  %></p>

<p><%= f.submit %></p>

<% end %>





